body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Esconde qualquer overflow horizontal */
    background-color: black;
}

.section {
    position: relative;
    height: 100vh; /* Faz cada seção ocupar a altura total da tela */
    width: 100vw; /* Faz cada seção ocupar a largura total da tela */
    overflow: hidden;
}

.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slide 20s linear infinite;
}

#bunker::before {
    background-image: url('img2.jpg');
    animation: slideBunker 20s linear infinite;
}

/* Adapte as animações para cada seção */
@keyframes slide {
    0% { background-image: url('img2/mundo/NIERA_WORLD_Bunker_01.jpg'); }
    50% { background-image: url('img2/mundo/NIERA_WORLD_Bunker_02.jpg'); }
    100% { background-image: url('img2/mundo/NIERA_WORLD_Bunker_03.jpg'); }
}

@keyframes slideBunker {
    0% { background-image: url('img2/mundo/NIERA_WORLD_Camp_01.jpg'); }
    50% { background-image: url('img2/mundo/NIERA_WORLD_Camp_02.jpg'); }
    100% { background-image: url('img2/mundo/NIERA_WORLD_Camp_03.jpg'); }
}

.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.conteudo h1 {
    font-size: 3em;
    margin-bottom: 20px;
}




.image-links {
    display: flex; /* Define um layout em linha para os itens */
    gap: 30px; /* Espaçamento entre as imagens */
    flex-wrap: wrap; /* Permite a quebra de linha se necessário */
}

.image-links a {
    display: flex;
    flex-direction: column; /* Coloca a imagem e o texto em coluna */
    text-decoration: none; /* Remove o sublinhado do texto */
    color: white; /* Define a cor do texto */
    align-items: center; /* Alinha o texto e a imagem ao centro */
}

.image-links img {
    max-width: 210px; /* Define a largura máxima da miniatura */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Adiciona bordas arredondadas, se desejado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil às imagens */
    margin-bottom: 5px; /* Espaçamento entre a imagem e o texto */
}
